{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Neues Kleidungsstück hinzufügen</h1>
        <a href="/" class="btn-secondary">Zurück zum Kleiderschrank</a>
    </div>

    <form method="post" action="/items/create" class="form-card">
        <div class="form-group">
            <label for="name">Name des Kleidungsstücks</label>
            <input type="text" id="name" name="name" required placeholder="z.B. Schwarzes Hoodie">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" required placeholder="kurze beschreibung des Kleidungsstücks">
        </div>

        <div class="form-group">
            <label for="color">Color</label>
            <input type="text" id="color" name="color" required placeholder="Farbe/n und/oder Muster">
        </div>

        <div class="form-group">
            <label for="condition">Zustand der Kleidung</label>
            <input type="text" id="condition" name="condition" required placeholder="Wie ist der zustand der Kleidung?">
        </div>

        <div class="form-group">
            <label for="type">Typ</label>
            <input type="text" id="type" name="type" required placeholder="z.B. Jacke, Hose, Pullover">
        </div>

        <div class="form-group">
            <label for="score">SCORE</label>
            <input type="text" id="score" name="score" required placeholder="gebe dem Kleidungsstück einen Score">
        </div>

        <button type="submit" class="btn-primary">
            Speichern
        </button>
    </form>
{% endblock %}

